<div> 
<!--<div ng-controller="schemaCtrl">--> 
<h3 ng-show="!editingSchema">New Schema</h3>
<h3 ng-show="editingSchema">Editing {{editSchema.name}}</h3>
<div class="row-fluid">
    <div class="span4 content-divider">
          
    <h4>Schema Elements</h4>
    <form ng-submit="saveField()">
        <div class="input">
            <label for="newField-name">Field Name:</label>
            <input type="text" id="newField-name" ng-model="newField.name" ng-required>
        </div>
        <div class="input">
            <label for="newField-required">Required:</label>
            <input type="checkbox" id="newField-required" ng-model="newField.required">
        </div>
        <div class="input">
            <label for="newField-order">Order Weight:</label>
            <input type="number" id="newField-order" ng-model="newField.order" value="0" ng-required placeholder="0">
        </div>
        <div class="input">
            <label for="newField-type">Field Type:</label>
            <select id="newField-type" ng-model="newField.type" ng-required>
                <option value="text" selected>Text</option>
                <option value="radio">Radio Buttons</option>
                <option value="select">Drop Menu (Select)</option>
                <option value="multiple">Multi-Select</option>
                <option value="checkbox">Toggle (Checkbox)</option>
                <option value="checkboxes">Checkboxes</option>
                <option value="textarea">Paragraph(s)</option>
                <option value="number">Number</option>
                <option value="url">Url</option>
                <option value="phone">Phone</option>
                <option value="email">Email</option>
                <option value="header">Heading</option>
            </select>
        </div>
        <ng-switch on="typeSwitch(newField.type)">
            <div ng-switch-default class="input">
                <label for="newField-placeholder">Instructions:</label>
                <input type="text" id="newField-placeholder" ng-model="newField.placeholder">
            </div>
            <fieldset ng-switch-when="multiple">
                <legend><a ng-click="addOption()">Add Option</a></legend>
                <div class="newOption" ng-repeat="option in newField.options">
                    <strong>Option:</strong>
                    <button class="btn btn-danger" ng-click="splice(option, newField.options)">Remove</button>
                    <label>
                        Name:
                        <input type="text" ng-model="option.name" ng-required>
                    </label>
                    <label>
                        Value:
                        <input type="text" ng-model="option.value">
                    </label>
                    <label>
                        Order:
                        <input type="number" ng-model="option.order">
                    </label>
                </div>
            </fieldset>
            <span ng-switch-when="checkbox"></span>
            <span ng-switch-when="header"></span>
        </ng-switch>
        <div>
            <input class="btn btn-info" type="submit" value="Save">
           
        </div>
    </form>
            </div>
            <div class="span4">
                
    <h4>Edit Schema</h4>
    <div ng-repeat="field in fields track by $index">
        <ng-switch on="field.type">
            <h4 ng-switch-when="header">
                {{field.name}}
                <span class="order">{{field.order}}</span>
                <button class="btn btn-info" ng-click="editField(field)">Edit</button>
                <button class="btn btn-danger" ng-click="splice(field, fields)">Remove</button>
            </h4>
            <div ng-switch-default class="input {{field.type}}" ng-class="field.required && 'required'">
                <label>
                    <button class="btn btn-info" ng-click="editField(field)">Edit</button>
                    <button class="btn btn-danger" ng-click="splice(field, fields)">Remove</button>
                    {{field.name}}
                    <span class="order">{{field.order}}</span>
                </label>
                <ng-switch on="field.type">
                    <input ng-switch-default type="{{field.type}}"
                        ng-model="field.value" ng-bind-attr="{required:'{{field.required}}'}" value="{{field.value}}" placeholder="{{field.placeholder}}">
                    <input ng-switch-when="checkbox" type="checkbox"
                        ng-model="field.value" value="{{field.value}}" id="field" placeholder="{{field.instructions}}">
                    <textarea ng-switch-when="textarea"
                        ng-model="field.value" placeholder="{{field.instructions}}">{{field.value}}</textarea>
                    <select ng-switch-when="select"
                        ng-model="field.value" >
                        <option ng-repeat="option in field.options" value="{{option.value}}">{{option.name}}</option>
                    </select>
                    <select ng-switch-when="multiple"
                        ng-model="field.value" multiple>
                        <option ng-repeat="option in field.options" value="{{option.value}}">{{option.name}}</option>
                    </select>
                    <fieldset ng-switch-when="radio">
                        <label ng-repeat="option in field.options">
                            <input type="radio" ng-model="field.value" value="{{option.value}}">
                            {{option.name}}
                        </label>
                    </fieldset>
                    <fieldset ng-switch-when="checkboxes">
                        <label ng-repeat="option in field.options">
                            <input type="checkbox" ng-model="field.value[tokenize(option.name)]" value="{{option.value}}">
                            {{option.name}}
                        </label>
                    </fieldset>
                </ng-switch>
            </div>
        </ng-switch>
    </div>
    <h4>Schema JSON:</h4>
    <pre>{{fields}}</pre>
            </div>
        </div>
<!--{{schemaList}}-->
<p></p>
<div ng-show="!editingSchema"><span>Schema Name </span><input type="text" ng-model="newSchema.name" style="width:100px;" /> 
    <!--<fieldset><input class="btn btn-success" ng-click="addSchemaToSchemaList()" type="submit" value="Save Schema"></fieldset></div>-->
    <fieldset><a href="#/schema/list"  class="btn btn-success" ng-click="saveSchema()" type="submit">Save Schema</a></fieldset></div>
    
<div ng-show="editingSchema"><span>Schema Name </span><input type="text" ng-model="editSchema.name" style="width:100px;" /> 
    <!--<fieldset><input class="btn btn-success" ng-click="addSchemaToSchemaList()" type="submit" value="Save Schema"></fieldset></div>-->
    <fieldset><a  href="#/schema/list" class="btn btn-success" ng-click="editSchemaFn()" type="submit" >Update Schema</a></fieldset></div>
    <!--schemaName is {{newSchemaName}}-->
</div>